.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  color: rgb(42, 42, 42);
  margin-top: 1.5rem;
}

.button:after {
  content: '';
  background-color: #ce7ad2;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.item {
  list-style: none;
  color: black;
}

.item:hover {
  background-color: #ce7ad2;
}
