.dropdown {
  position: relative;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  /* font-family: 'Tilt Warp', cursive; */
  color: #e4e6ef;
  background-color: rgb(33, 33, 47);
  border-radius: 0.2rem;
  border: none;
  margin-top: 2rem;
  padding: 0rem 1rem;
}

.menu {
  display: none;
  transition: opacity 0.3s ease-in-out;
  background-color: rgb(33, 33, 47);
  border: 1px solid var(--details-color);
  border-radius: 0.2rem;
  width: 100%;
  position: absolute;
}

.open {
  display: block;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-align: right;
  color: white;
  padding: 0.5rem;
}

.item:hover {
  background-color: var(--details-color);
}

.activeTag {
  color: var(--details-color);
  margin: 0.5rem;
}
/* 
.open .item {
  background-color: var(--details-color);
  opacity: 1;
} */
/* 
.item:nth-child(1) {
  transition-delay: 0.5s;
}
.item:nth-child(2) {
  transition-delay: 0.7s;
}
.item:nth-child(3) {
  transition-delay: 0.9s;
}
.item:nth-child(4) {
  transition-delay: 1s;
}
.item:nth-child(5) {
  transition-delay: 1.2s;
}
.item:nth-child(6) {
  transition-delay: 1.4s;
}
.item:nth-child(7) {
  transition-delay: 1.6s;
}
.item:nth-child(8) {
  transition-delay: 1.7s;
}
.item:nth-child(9) {
  transition-delay: 1.9s;
} */
