.container {
  display: flex;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
}

.cell1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.cell2 {
  display: flex;
  align-items: center;
  width: 50%;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Tilt Warp', cursive;
}

.text {
  text-align: flex-start;
  max-width: 40ch;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.ipad {
  width: 50%;
  position: absolute;
}

.img {
  width: 100%;
  position: absolute;
}

.svg {
  z-index: 99;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  color: var(--details-color);
  margin-top: 2rem;
}

.link:hover {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 481px) {
  .ipad,
  .cell1 {
    width: 100%;
  }

  .cell2 {
    align-items: center;
    flex-direction: column;
  }

  .link {
    margin-top: 2rem;
    font-size: 10px;
  }

  .text {
    text-align: center;
  }
}
