.container {
  display: flex;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cell1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 4rem);
  padding: 2rem;
}

.cell2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.text {
  text-align: center;
  max-width: 60ch;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.ipad {
  width: 50%;
  position: absolute;
}

.img {
  width: 100%;
  position: absolute;
}

.svg {
  z-index: 99;
}

/* .link {
  text-decoration: none;
  background-color: rgb(244, 195, 62);
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  margin-top: 4rem;
  font-family: 'Tilt Warp', cursive;
} */

.link {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  color: rgb(42, 42, 42);
  margin-top: 1.5rem;
}

.link:after {
  content: '';
  background-color: #ebb23f;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.link:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 481px) {
  .ipad,
  .cell1 {
    width: 100%;
  }

  .cell2 {
    align-items: center;
  }

  .link {
    margin-top: 2rem;
    font-size: 10px;
  }
}
