.container {
  display: flex;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.img {
  width: 100%;
}

.title {
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tagContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tag {
  background-color: #c2d8c5;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-family: 'Tilt Warp', cursive;
  color: white;
}

@media (max-width: 481px) {
  .contentBox {
    width: 100%;
    padding: 1rem;
  }
}
