.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}

.contentBox {
  width: calc(50% - 8rem);
  padding: 4rem;
}

.img {
  width: 100%;
}

.title {
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tagContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 0.5rem;
  margin-top: 1rem;
}

.tag {
  background-color: #e9b93e;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 481px) {
  .contentBox {
    width: 100%;
    padding: 1rem;
  }
}
