.link {
  font-size: 17px;
  font-weight: 200;
  font-family: 'Tilt Warp', cursive;
  letter-spacing: 1px;
  padding: 20px 17px 20px;
  outline: 0;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  color: rgb(27, 27, 39);
}

.link:after {
  content: '';
  background-color: var(--details-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 6px;
  left: 7px;
  transition: 0.2s;
}

.link:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 600px) {
  .link {
    padding: 13px 30px 13px;
  }
}

@media (max-width: 481px) {
  .link {
    font-size: 10px;
    padding: 10px 15px 10px;
  }
}
