.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-color: #282a3c;
  /* background: linear-gradient(#85d3c2, #3a475d); */
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Tilt Warp', cursive;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.text,
.subtitle,
.title {
  line-height: 1.5rem;
}

.text {
  text-align: center;
  max-width: 60ch;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  width: 100%;
}

.link {
  color: white;
}

@media (max-width: 481px) {
  .textContainer {
    padding: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}
