.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--details-color);
  border-radius: 1rem 1rem 0rem 0rem;
  min-width: 10rem;
  font-family: 'Tilt Warp', cursive;
}
