.container {
  width: 100%;
  position: relative;
  min-height: 90vh;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.img {
  max-width: 300px;
  z-index: 1;
}

.animation {
  position: absolute;
  top: 0;
  right: 0;
}
.purpleBlob {
  position: absolute;
  top: 50%;
  right: 0;
}

.title {
  font-size: 5rem;
  margin-top: 0;
  line-height: 4rem;
}

.cvLink {
  color: rgb(52, 51, 51);
  text-decoration: inherit;
  border: 1px solid purple;
  padding: 0.5rem 1rem;
  border-radius: 16px;
}
