.container {
  width: 100%;
  position: relative;
  min-height: 90vh;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 99;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 300px;
  z-index: 1;
}

.animation {
  position: absolute;
  width: 650px;
  height: 550px;
  top: 0;
  right: 0;
}

.title {
  font-size: 5rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.cvLink {
  color: #c384e2;
  text-decoration: inherit;
  border: 3px solid #c57ee8;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  font-family: 'Tilt Warp', cursive;
}

@media (max-width: 481px) {
  .contentContainer {
    justify-content: center;
  }

  .title {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .portfolio {
    font-size: 0.6rem;
  }
}

@media (min-width: 961px) {
  .titleContainer + .imgContainer {
    width: 50%;
  }
}
