.container {
  min-height: 80px;
  border-bottom: 1px solid rgb(84, 84, 84);
  z-index: 99;
  width: 100%;
  margin-bottom: 2rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-family: 'Tilt Warp', cursive;
}

.link {
  color: #e5e7ec;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.2);
}

.agnes {
  font-family: 'Tilt Warp', cursive;
  text-decoration: none;
  color: var(--details-color);
}

span {
  font-size: 1.5rem;
}

@media (max-width: 481px) {
  .container {
    border: none;
  }
  .links {
    display: none;
  }
}
