.container {
  min-height: 80px;
  border-bottom: 1px solid rgb(84, 84, 84);
  z-index: 99;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
