.container {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 99;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 300px;
  z-index: 1;
}

.animation {
  position: absolute;
  width: 650px;
  height: 550px;
  top: 0;
  right: 0;
  z-index: -1;
}

.title {
  font-size: 5rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.cvLink {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  color: rgb(42, 42, 42);
  margin-top: 1.5rem;
}

.cvLink:after {
  content: '';
  background-color: #ce7ad2;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.cvLink:hover:after {
  top: 0px;
  left: 0px;
}

.linkContainer {
  position: fixed;
  top: 75%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  z-index: 99;
  gap: 0.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.link {
  color: rgb(163, 198, 180);
}

@media (max-width: 481px) {
  .contentContainer {
    justify-content: center;
  }

  .title {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .portfolio {
    font-size: 0.6rem;
  }

  .img {
    max-width: 200px;
  }

  .cvLink {
    font-size: 10px;
  }
}

@media (min-width: 961px) {
  .titleContainer + .imgContainer {
    width: 50%;
  }
}
