.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 70vh;
}

.titleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 99;
  color: #e5e7ec;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 380px;
  z-index: 1;
}

.animation {
  position: absolute;
  width: 650px;
  height: 550px;
  top: 0;
  right: 0;
  z-index: -1;
}

.title {
  font-size: 7rem;
  line-height: 6rem;
  margin-bottom: 2rem;
  font-family: 'Tilt Warp', cursive;
}

.portfolio {
  margin-bottom: 5rem;
}

/*** Tablet & MOBILE ***/
@media (max-width: 1180px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titleContainer {
    align-items: center;
    margin: 0;
  }
}

/*** Tablet ***/

@media (min-width: 601px) and (max-width: 1180px) {
  .title {
    font-size: 6rem;
    line-height: 5rem;
    margin: 1rem;
    text-align: center;
  }

  .img {
    max-width: 400px;
    margin-top: 5rem;
  }
}

/*** MOBILE ***/

@media (max-width: 600px) {
  .animation {
    position: absolute;
    width: 450px;
    height: 550px;
    top: 40px;
  }

  .title {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .portfolio {
    font-size: 0.6rem;
    margin-bottom: 2rem;
  }

  .img {
    max-width: 200px;
    margin-top: 2rem;
  }

  .cvLink {
    font-size: 10px;
  }
}

@media (min-width: 1181px) {
  .titleContainer + .imgContainer {
    width: 50%;
  }
}
