/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.title {
  font-family: 'Tilt Warp', cursive;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.listItem {
  /* width: calc(50% - 2rem); */
  display: flex;
  min-width: 10 rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 10rem;
}

.arrow {
  display: none;
}

.button {
  border: none;
  color: white;
  font-family: 'Tilt Warp', cursive;
  font-size: 1.2rem;
  background-color: #e56565;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.icon {
  color: var(--details-color);
}

@media (max-width: 481px) {
  /* .container {
    background-color: #e56161;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
  } */

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }
  .list {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 1rem;
  }

  .listOpen {
    display: flex;
  }

  .listItem {
    display: none;
  }

  .open {
    display: block;
  }

  .arrow {
    display: block;
  }

  .icon {
    display: none;
  }
}
