.container {
  display: flex;
  flex-direction: column;
  background-color: var(--details-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  font-family: 'Tilt Warp', cursive;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listItem {
  /* width: calc(50% - 2rem); */
  display: flex;
  min-width: 10 rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 481px) {
  .title {
    margin-bottom: 1rem;
  }
  .list {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
