.container {
  min-height: 100vh;
  margin-bottom: 5rem;
}

.gridParent {
  display: flex;
  flex-direction: row;
}

.leftColumnWrapper {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  gap: 3rem;
}

.filterAndCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5rem;
  align-items: center;
  position: fixed;
  top: 200px;
  min-width: 40%;
  right: 0rem;
}

.title {
  font-size: 2rem;
  font-family: 'Tilt Warp', cursive;
}

.text {
  text-align: center;
  width: 70%;
  line-height: 1.5rem;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Tilt Warp', cursive;
  text-decoration: none;
  color: rgb(48, 47, 42);
  cursor: pointer;
}

span {
  font-size: 1.5rem;
}

.countUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  margin-bottom: 1rem;
}

.countUp {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.counter {
  font-size: 5rem;
  color: var(--details-color);
}

.counterText {
  color: var(--details-color);
  text-align: center;
  margin: 0.5rem;
}

.githubLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Tilt Warp', cursive;
  color: var(--details-color);
}

.filterButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 15rem;
  gap: 0.5rem;
  margin-top: 4rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  min-width: 7rem;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: var(--details-color);
}

.active {
  background-color: var(--details-color);
}

@media (max-width: 481px) {
  .gridParent {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .countUpContainer {
    max-width: 12rem;
  }
}
