.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid rgb(84, 84, 84);
}

.container {
  min-height: 100vh;
  margin-bottom: 5rem;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 50vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  position: absolute;
  position: fixed;
}

.title {
  font-size: 2rem;
  font-family: 'Tilt Warp', cursive;
  margin-bottom: 2rem;
}

.text {
  text-align: center;
  width: 70%;
  line-height: 1.5rem;
  font-family: 'Tiro Devanagari Hindi', serif;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Tilt Warp', cursive;
  text-decoration: none;
  color: rgb(48, 47, 42);
  cursor: pointer;
}

span {
  font-size: 1.5rem;
}

.countUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  margin-bottom: 1rem;
}

.countUp {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.counter {
  font-size: 5rem;
  color: var(--details-color);
}

.counterText {
  color: var(--details-color);
  text-align: center;
  margin: 0.5rem;
}

.gridParent {
  display: flex;
  /* grid-template-columns: repeat(1, 1fr); */
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 481px) {
  .textContainer {
    position: initial;
  }
  /* .gridParent {
    display: flex;
  } */
}
